<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Car Brand
        </div>
        <div class="card-body">

          <table mat-table [dataSource]="carbrands" class="table">
            <ng-container matColumnDef="id">
              <th *matHeaderCellDef> Id. </th>
              <td *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th *matHeaderCellDef> Name </th>
              <td *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
              <th *matHeaderCellDef> Country </th>
              <td *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <br />
          <div class="col-4">
            <button class="btn btn-block btn-success" (click)="createCarBrand()">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>